p {
  color: gray;
}

.header {
  font-weight: bold;
}

.tracking {
  padding: 1em;
}

#footer {

  position: fixed;

  bottom: 0;

  width: 100%;

  height: 150px; /* choose any height */
}

#menu-left {
   background-color: black;
   height: 80px;   
}

#menu-right {
   background-color: red;
   height: 80px;   
}

.mobile-topbar-left {
   padding-left: 0.5cm;
   font-size: 270%;
   font-family: Arial;
   color: white;
}

.mobile-topbar-left p {
   padding-left: 0.5cm;
   line-height: 2em;
   font-family: Arial;
   color: white;
}

.mobile-topbar-right {
   padding-left: 0.5cm;
   font-size: 270%;
   font-family: Arial;
   color: white;
}

.mobile-topbar-right p {
   line-height: 2em;
   font-family: Arial;
   color: white;
   text-align: center;
}


.mobile-button {
   border-radius: 5px;
   border: 2px solid #6495ED;
   background-color: #BCD2EE;
   height: 50px;
   width: 50px:
   margin: auto;
   text-align: center;
}
